<launch>

    <arg name="publish_robot_source_odom_tf" default="false"/>
    <!-- map name of pbstream, map and yaml -->
    <arg name="map_name" default="map"/>
    <arg name="use_rviz" default="false"/>

    <include file ="$(find rubber_navigation)/launch/cartographer/demo_velodyne2d_localization.launch">
        <arg name="load_state_filename" default="$(find rubber_navigation)/config/map/$(arg map_name).pbstream"/>
        <arg name="rviz" default="$(arg use_rviz)"/>
    </include>

    <!--move_base-->
    <include file="$(find rubber_navigation)/launch/move_base.launch">
        <arg name="map_filename" default="$(find rubber_navigation)/config/map/$(arg map_name).yaml"/>
    </include>

    <include file="$(find rubber_navigation)/launch/common.launch">
        <arg name="publish_robot_source_odom_tf" value="$(arg publish_robot_source_odom_tf)"/>
    </include>
    <node name="goalSaver" pkg="rubber_navigation" type="goalSaver" required="true">
        <param name="map_frame" value="map"/>
        <param name="base_footprint_frame" value="base_link"/>
        <param name="file_name" value="$(find rubber_navigation)/config/debugTreeTarget.txt"/>
    </node>
    <node name="rubber_navigation" pkg="rubber_navigation" type="rubber_navigation" output="screen">
		<param name="map_frame" value="map"/>
        <param name="base_foot_print" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <param name="publish_tf" value="$(arg publish_robot_source_odom_tf)"/>
        <param name="serial_addr" value="/dev/ttyS0"/>
    </node>
    <node name="logger" pkg="rubber_navigation" type="logger" />
    <node pkg="visual_servo" type="landmark_broadcaster" name="landmark_broadcaster" output="screen"/>


</launch>
