<launch>
    <arg name="base_foot_print" default="base_link"/>
    <arg name="map_frame" default="map"/>
    <arg name="odom_frame" default="odom"/>

    <!--TF STATIC-->
    <!-- odom related-->
    <!--move_base-->
    <include file="$(find rubber_navigation)/launch/move_base.launch"/>

    <include file="$(find rubber_navigation)/launch/common.launch"/>

    <include file="$(find sick_tim)/launch/sick_tim551_2050001.launch" />

    <include file="$(find rubber_navigation)/launch/amcl.launch"/>

    <node name="goalSaver" pkg="rubber_navigation" type="goalSaver" required="true">
        <param name="map_frame" value="map"/>
        <param name="base_footprint_frame" value="base_link"/>
        <param name="file_name" value="$(find rubber_navigation)/config/treeTarget.txt"/>
    </node>
    <!-- map related-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rubber_navigation)/config/rviz/amcl.rviz"/>

    <node name="simpleNav" pkg="rubber_navigation" type="simpleNav" output="screen"/>
</launch>