<launch>
<!-- tf static -->
	<param name="robot_description" textfile="$(find rubber_navigation)/urdf/robot.urdf"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!-- cartographer core-->
	<node name="cartographer_node" pkg="cartographer_ros"
		type="cartographer_node" args="
		-configuration_directory $(find rubber_navigation)/config/cartographer
		-configuration_basename demo_velodyne2d.lua"
		output="screen">
		<remap from="imu" to="/imu/data_raw"/>
		<remap from="points2" to="/lslidar_point_cloud"/>
 	</node>
 	<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
 		type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch> 
